<header class="dashboard-navbar">
  <div class="navbar-brand">
    <span class="navbar-brand-icon"><%= render "shared/icon_brand" %></span>
    <%= link_to "ULTRA Sharp", root_path, class: "navbar-brand-text" %>
  </div>
  <div class="navbar-actions">
    <% if Current.user&.superadmin? %>
      <%= link_to "Manage users", super_admin_users_path, class: "navbar-link" %>
    <% end %>
    <%= link_to "Sign out", session_path, data: { turbo_method: :delete }, class: "navbar-sign-out" %>
  </div>
</header>
